{% load static %}
<html lang="pt-br">
<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>


    <title>{% block title %} Lista de Transações | wilker_bycoders_test{% endblock %}</title>

    {% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            wilker_bycoders_test
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                    <!-- Navbar link--><a class="nav-link active" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item active">
                    <!-- Navbar link--><a class="nav-link active" href="{% url 'upload' %}">Importar</a>
                </li>
                <li class="nav-item active">
                    <!-- Navbar link--><a class="nav-link active" href="{% url 'list' %}">Lista de Transações</a>
                                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" style="margin-left:785px">
                        <li class="nav-item active" >
                    <a class="nav-link" href="profile/{{user.id}}/">Conta do Usuário</a>
                </li>
                        <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                            </li>
                </li>
            </ul>

        </div>
    </nav>

    {% endblock %}

    {% block body %}

    <div class="container" style="margin-top:94px">
        <table class="table" style="margin-top:150px">
            <thead>
            <tr>
                <!--<th scope="col">ID</th> -->
                <th scope="col">Tipo da transação</th>
                <th scope="col">Data da ocorrência</th>
                <th scope="col">Valor da movimentação</th>
                <th scope="col">CPF do beneficiário</th>
                <th scope="col">Cartão utilizado na transação</th>
                <th scope="col">Hora da ocorrência</th>
                <th scope="col">Nome do representante da loja</th>
                <th scope="col">Nome da loja</th>
            </tr>
            </thead>
            <tbody>

            <h1>Operações importadas por lojas</h1>

            {% for page in page_obj %}
            <tr>

                <th scope="row">{{page.Tipo}}</th>
                <td>{{page.Data}}</td>
                <td>{{page.Tipo.Sinal}}{{page.Valor}}</td>
                <td>{{page.CPF}}</td>
                <td>{{page.Cartao}}</td>
                <td>{{page.Hora}}</td>
                <td>{{page.Dono_da_Loja}}</td>
                <td>{{page.Nome_da_loja}}</td>
                {% empty %}
                <td>Sem dados para mostar</td>
                <h6>Os dados não foram importados. Por favor importe os dados clicando em 'Importar'.</h6>
            </tr>
             {% endfor %}
            <div class="pagination">
             <span class="step-links">
                 {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primeiro</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}<span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">próximo</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">último &raquo;</a>
            {% endif %}
            </span>
            </div>
            </tbody>
            <tfoot>
            <tr>
                <th>Total:</th>
                <td>{{ ValorTotal.Total__sum }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
    {% endblock %}
